
@{
    ViewBag.Title = "Init";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Starting page to load data</h2>
<label for="file">Select XML file to upload !</label>
@using (Html.BeginForm("Show", "Customer", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="xmlFile" accept=".xml" /><br>
    <input type="submit" value="Upload" />
}
